<div class="blurb-container">
	<h2>{{.heading}}</h2>
	<p>{{.description}}</p>

	<div class="blurbs">
		{{ range .blurbs }}
			<div class="blurb">
				<div class="img" {{ with .image }} style="background-image: url(/img/blurb/{{ . }}"{{ end }}>
					<img src="/img/blurb/{{ .image }}" alt="{{ .alt }}">
				</div>
				<h3><a href="{{ .link }}">{{ .texttitle }}</a></h3>
				<p>{{ .text }}</p>
				<a href="{{ .link }}">Learn more <span class="sr">{{ .texttitle }}</span></a>
			</div>
		{{ end }}
	</div>
</div>