
<div class="schedule">
	<p>
		<a href="/" title="Precise Moves Chiropractic home page"><img src="/img/pmc.png" alt="Precise Moves Chiropractic"></a>
	</p>
	<h3>{{ .Site.Data.footer.title }}</h3>
	<p>{{ .Site.Data.footer.blurb }}</p>
	<a href="https://www.schedulicity.com/scheduling/PMCPD3P" class="btn-primary">Schedule now</a></p>
</div>
<table>
	<thead>
		<tr>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
			<th>Sunday</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ .Site.Data.footer.mon1 }}<br/>{{ .Site.Data.footer.mon2 }}</td>
			<td>{{ .Site.Data.footer.tue1 }}<br/>{{ .Site.Data.footer.tue2 }}</td>
			<td>{{ .Site.Data.footer.wed1 }}<br/>{{ .Site.Data.footer.wed2 }}</td>
			<td>{{ .Site.Data.footer.thu1 }}<br/>{{ .Site.Data.footer.thu2 }}</td>
			<td>{{ .Site.Data.footer.fri1 }}<br/>{{ .Site.Data.footer.fri2 }}</td>
			<td>{{ .Site.Data.footer.sat1 }}<br/>{{ .Site.Data.footer.sat2 }}</td>
			<td>{{ .Site.Data.footer.sun1 }}<br/>{{ .Site.Data.footer.sun2 }}</td>
		</tr>
	</tbody>
</table>



<nav>

	<div>
		<h3>Precise Moves</h3>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/products">Our products</a></li>
			<li><a href="/techniques">About</a></li>
			<li><a href="/post">Blog</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>

	<div>
		<h3>Find out more</h3>
		<ul>
			<li><a href="/post/jamaica-blue/">Latest offers</a></li>
			<li><a href="https://www.schedulicity.com/scheduling/PMCPD3P">Schedule an appointment</a></li>
		</ul>
	</div>

	<div class="socials">
		<h3>Social media</h3>
		<ul>
			{{ partial "social-icon" (dict "link" "https://www.facebook.com/precisemoves/" "svg" "icons-facebook" "alt" "Precise Moves on Facebook") }}
			{{ partial "social-icon" (dict "link" "https://twitter.com/precisemoves" "svg" "icons-twitter" "alt" "Precise Moves on Twitter") }}
			{{ partial "social-icon" (dict "link" "https://www.instagram.com/PreciseMoves/" "svg" "icons-instagram" "alt" "Precise Moves on Instagram") }}
			{{ partial "social-icon" (dict "link" "https://www.yelp.com/biz/precise-moves-chiropractic-san-francisco-2" "svg" "icons-vimeo" "alt" "Precise Moves on Yelp") }}
		</ul>
	</div>
</nav>

<p> 3150 18th Street, Suite 334, San Francisco, CA 94110 &bullet;
	(415) 583-4221  &bullet;
	Copyright &copy; 2024</p>