<nav>
	<!-- Logo -->
	<a href="/">
		<img src="/img/pmc.png" alt="Precise Moves Chiropractic" />
		<span>Precise</span>Moves
	</a>

	<!-- Primary Nav -->
	<div data-mobile-menu class="mobile-menu-container">
		<svg viewBox="0 0 100 80" width="40" height="25" class="mobile-menu-icon">
			<rect class="menu-icon-top mobile-menu-inner" width="100" height="8"></rect>
			<rect class="menu-icon-middle mobile-menu-inner" y="30" width="100" height="8"></rect>
			<rect class="menu-icon-bottom mobile-menu-inner" y="60" width="100" height="8"></rect>
		</svg>
	</div>

	<ul>
		<li><a href="/services">Services</a>
		{{ partial "nav_services" }}
		</li>

		<li><a href="/techniques">Techniques</a></li>

		<li><a href="/post">Blog</a></li>

		<li><a href="/contact">Contact</a></li>
	</ul>

</nav>
