
.blurbs {
    max-width:  var(--section-max);
    margin-inline: auto;
    margin-bottom: var(--spacing-medium);
    display: flex;
    flex-flow: row wrap;
    gap: var(--spacing-medium);
}

.blurb {
    margin-bottom: var(--spacing-large);
    max-width: 22.5rem;
    min-width: 14rem;
    h3 {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    .img {
        width: 70%;
        aspect-ratio: 1.5;
        background-size: cover;
        border-radius: .25rem;
        margin-bottom: var(--spacing-medium);
        img {  /* hide the actual image, but keep the alt availble */
            opacity: 0.01;
            height: 90%;
        }
    }
    a {
        text-decoration: none;
        &:hover {
            color: var(--primary);
        }
    }
}