footer {
    background-color: var(--black);
    color: var(--white);
    padding: var(--spacing-large) var(--spacing-medium);
    margin: auto;
    a {
        text-decoration: none;
        &:hover {
            color: var(--primary);
        }
    }
    .schedule {
        max-width: 25em;
        margin: 0 auto 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        > * {
            margin: 0;
        }
        h3 {
            font-size: var(--font-size-l);
        }
    }

    table {
        margin: auto;
        border-collapse: collapse;
        td, th {
            padding:2px 5px;
            white-space: nowrap;
        } 
    }
    @media (width <= 40em) {
        & {
            text-align: center;
        }
        .schedule + table {
            display: inline-flex;
            tr {
                display: flex;
                flex-direction: column;
                th, td {
                    height: 3em;
                    flex: 0 0 3em;
                    text-align: left;
                    border-top: var(--light-border);
                    &:last-of-type {
                        border-bottom: var(--light-border)
                    }
                }
            }
            
        }
    }
    @media (width > 40em) {
        .schedule + table {
            tbody {
                border-top: var(--light-border)
            }
            td, th {
                border-right: 2px solid;
                text-align: center;
                border-collapse: collapse;
                vertical-align: baseline;
                &:last-child {
                    border: none;
                }
            }
        }
    }
    nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        max-width: 48rem;
        margin: auto;
        div {
            min-width: 10em;
            max-width: 30em;
            width: max-content;
            flex: 1 0 auto;
            margin-bottom: 1em;
        }
        h3 {
            color: var(--primary);
            font-size: 1.25rem;
            margin-bottom: var(--spacing-extra-small);
            line-height: 1.25;
            font-weight: var(--bold-font-weight);
        }
    }
    .socials {
        margin: -var(--spacing-small); 
        ul {
            display: inline-flex;
            gap: calc(2 * var(--spacing-small));
        }
        li {
            transition: var(--hover-transition);
            transform: translateY(0) translateZ(0);
            aspect-ratio: 1;
            &:hover {
              transform: translateY(-3px) translateZ(0);
            }
            a {
                aspect-ratio: 1;
                display: block;
                border-radius: 100%;
                transition: color 0.15s ease-in;
                background-color: var(--white);
                color: var(--black);
                padding: calc(var(--spacing-small) / 4) var(--spacing-small);
                &:hover {
                    color: var(--primary);
                }
            }
        }
    }
    > p {
        text-align: center;
        width: 100vw;
    }
}