
.pa3 { padding: var(--spacing-medium); }
.pb2 { padding-bottom: var(--spacing-small); }
.pb4 { padding-bottom: var(--spacing-large); }
.pt4 { padding-top: var(--spacing-large); }
.pv3 { padding-block: var(--spacing-medium);}
.pv4 { padding-block: var(--spacing-large);}
.pv5 { padding-block: var(--spacing-extra-large);}
.ph3 { padding-inline: var(--spacing-medium);}
.ph4 { padding-inline: var(--spacing-large);}

.mb0  {  margin-bottom: var(--spacing-none); }
.mb1 {  margin-bottom: var(--spacing-extra-small); }
.mb2  {  margin-bottom: var(--spacing-small); }
.mb3  {  margin-bottom: var(--spacing-medium); }
.mb4  {  margin-bottom: var(--spacing-large); }
.mhn1 { margin-inline: -var(--spacing-extra-small); }

@media (--breakpoint-not-small) {
  .ph1-ns { padding-inline: var(--spacing-extra-small); }
  .ph2-ns { padding-inline: var(--spacing-small);}
  .mr2-ns  {  margin-right: var(--spacing-small); }
  .mb0-ns  {  margin-bottom: var(--spacing-none); }
  .mhn1-ns { margin-inline: -var(--spacing-extra-small);}
  .mhn2-ns { margin-inline: -var(--spacing-small); }
}

@media (--breakpoint-medium) {
 .ph3-m {  padding-inline: var(--spacing-medium);}
 .mhn3-m { margin-inline: -var(--spacing-medium); }
}

@media (--breakpoint-large) {
  .pv6-l {  padding-block: var(--spacing-extra-extra-large);}
  .ph1-l {  padding-inline: var(--spacing-extra-small);}
  .ph2-l { padding-inline: var(--spacing-small); }
  .mhn1-l { margin-inline: -var(--spacing-extra-small);}
  .mhn2-l { margin-inline: -var(--spacing-small); }
}
