/* Focus states */

.raise {
  transition: var(--hover-transition);
  transform: translateY(0) translateZ(0);
}

.raise:hover,
.raise:focus {
  transform: translateY(-.12rem) translateZ(0);
}

.raise:active {
  opacity: .5;
}

.hide-child .child {
  opacity: 0;
  transition: opacity .15s ease-in;
}
.hide-child:hover  .child,
.hide-child:focus  .child,
.hide-child:active .child {
  opacity: 1;
}

.underline-hover:hover,
.underline-hover:focus {
  text-decoration: underline;
}

.pointer:hover {
  cursor: pointer;
}
