.center {
  margin-right: auto;
  margin-left: auto;
}
.bg-center { 
  background-repeat: no-repeat;
  background-position: center center;
}
.br0.br0.br0 { border-radius: 0; }
.br1 { border-radius: var(--border-radius); }

.flex { display: flex; }

.justify-between  { justify-content: space-between; }

img {
  max-width: 100%;
}

/* Remove border-radiius from full-width images */
img:not(.w-100) {
  border-radius: var(--border-radius);
}

.di { display: inline; }
.db { display: block; }
.dib { display: inline-block; }


.lh-title { line-height: 1.25; }
.list { list-style-type: none; }

/* Max Width Scale */

.mw6  {  max-width: 32rem; }
.mw7  {  max-width: 48rem; }

.sr, 
.clip {
  position: fixed;
  clip: rect(1px, 1px, 1px, 1px);
}

header, 
footer,
nav {
    li {
        list-style-type: none
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    ul, ol, li {
      margin-left: 0;
      padding-left: 0;
    }
}
