

.w-33 {  width:  33%; }
.w-40 {  width:  40%; }
.w-50 {  width:  50%; }
.w-60 {  width:  60%; }
.w-100 { width: 100%; }
.w-auto { width: auto; }

@media (--breakpoint-not-small) {
  .w-33-ns { width:  33%; }
  .w-50-ns { width:  50%; }
}

@media (--breakpoint-medium) {
  .w-50-m { width:  50%; }
}

@media (--breakpoint-large) {
  .w-40-l {    width:  40%; }
  .w-50-l {    width:  50%; }
  .w-60-l {    width:  60%; }
}
